<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds" debug="false">
    <property name="app.name" scope="context" value="crypto"/>
    <property name="log.charset" value="utf-8"/>
    <property name="log.home" value="/data/okx/logs"/>
    <property name="log.console.pattern"
              value="%red(%d{yyyy-MM-dd HH:mm:ss}) %green([%thread]) %highlight(%-5level) %boldMagenta(%logger{36}) - %gray(%msg%n)"/>
    <property name="log.file.pattern" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.console.pattern}</pattern>
            <charset>${log.charset}</charset>
        </encoder>
    </appender>

    <!-- 按照每天生成日志文件 -->
    <appender name="daily-file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志文件输出的文件名 -->
            <FileNamePattern>${log.home}/${app.name}.%d{yyyy-MM-dd}-%i.log
            </FileNamePattern>
            <!--日志文件保留天数 -->
            <MaxHistory>7</MaxHistory>
            <!--日志文件最大的大小 -->
            <MaxFileSize>50MB</MaxFileSize>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
            <pattern>${log.file.pattern}</pattern>
        </encoder>
        <!--日志文件最大的大小 -->
        <!--<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>50MB</MaxFileSize>
        </triggeringPolicy>-->
    </appender>

    <!-- 按照每天生成日志文件 -->
    <appender name="daily-file-error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志文件输出的文件名 -->
            <FileNamePattern>${log.home}/${app.name}-error.%d{yyyy-MM-dd}-%i.log
            </FileNamePattern>
            <!--日志文件保留天数 -->
            <MaxHistory>7</MaxHistory>
            <!--日志文件最大的大小 -->
            <MaxFileSize>50MB</MaxFileSize>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
            <pattern>${log.file.pattern}</pattern>
        </encoder>
        <!--日志文件最大的大小 -->
        <!--<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>50MB</MaxFileSize>
        </triggeringPolicy>-->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- 异步输出 -->
    <appender name="async-daily-file" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
        <discardingThreshold>0</discardingThreshold>
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <!--        <queueSize>256</queueSize>-->
        <!-- 添加附加的appender,最多只能添加一个 -->
        <appender-ref ref="daily-file"/>
    </appender>

    <appender name="async-daily-file-error" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
        <discardingThreshold>0</discardingThreshold>
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <!--        <queueSize>256</queueSize>-->
        <!-- 添加附加的appender,最多只能添加一个 -->
        <appender-ref ref="daily-file-error"/>
    </appender>

    <!--普通日志输出到控制台-->
    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="daily-file"/>
        <appender-ref ref="daily-file-error"/>
    </root>

    <logger name="com.alibaba.cloud.acm" level="debug" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="daily-file"/>
        <appender-ref ref="daily-file-error"/>
    </logger>

    <!--监控sql日志输出 -->
    <logger name="jdbc.sqlonly" level="INFO" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="daily-file"/>
        <appender-ref ref="daily-file-error"/>
    </logger>

<!--    <Logger name="org.hibernate.type.descriptor.sql" level="trace"/>-->

    <logger name="jdbc.resultset" level="ERROR" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="daily-file"/>
        <appender-ref ref="daily-file-error"/>
    </logger>

    <!--  如想看到表格数据，将OFF改为INFO  -->
    <logger name="jdbc.resultsettable" level="OFF" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="daily-file"/>
        <appender-ref ref="daily-file-error"/>
    </logger>

    <logger name="jdbc.connection" level="OFF" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="daily-file"/>
        <appender-ref ref="daily-file-error"/>
    </logger>

    <logger name="jdbc.sqltiming" level="OFF" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="daily-file"/>
        <appender-ref ref="daily-file-error"/>
    </logger>

    <logger name="jdbc.audit" level="OFF" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="daily-file"/>
        <appender-ref ref="daily-file-error"/>
    </logger>

    <logger name="com.alibaba.nacos" level="warn" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="daily-file"/>
        <appender-ref ref="daily-file-error"/>
    </logger>

    <logger name="net.xmzykj" level="debug" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="daily-file"/>
    </logger>

</configuration>
